# Ignorer les environnements virtuels
venv/
env/
ENV/
.venv/
.ENV/

# Fichiers Python compilés
__pycache__/
*.py[cod]
*$py.class

# Caches et logs
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Fichiers de configuration de test
.coverage
.tox/
nosetests.xml
test-results/
.cache/
pytest_cache/

# Configuration de l'éditeur
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Fichiers de dépendances
Pipfile.lock
poetry.lock

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Fichiers d'environnement
.env
.env.*

# Fichiers de distribution
dist/
build/
*.egg-info/

# MyPy, Pyre, Pytype
.mypy_cache/
.pyre/
.pytype/

# Documentation
docs/_build/

# Cython debug
cython_debug/

# PyInstaller
*.spec
modele_random_forest.pkl

modele_knn.pkl
modele_xgboost.pkl
modele_xgboost_feries.pkl

models/
